<h1> Edit Track:></h1>

<form action="/tracks/<%= @track.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">
 <input type="text" name="title" id="title" value="<%= @track.title %>"><br>
<input type="submit" value="submit"><br>
</form>