<h1> Edit Tweet:</h1>

<form method="POST" action="/tracks/<%=@track.id%>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input type="text" name="Title" value="<%= @track.title%>"><br>
<input type="submit" value="submit"><br>
</form>