<h2>New Track: </h2>

<form action="/tracks" method="POST">
<label>Track Title:</label>
<input type="text" name="artist"><br>
<input type="text" name="title"><br>
<input id="btn btn-button" type="submit" value="Add New Track">
</form>