<h3> Edit Mix:></h3>

<form action="/mixes/<%= @mix.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">
 <input type="text" name="title" id="title" value="<%= @mix.title %>"><br>
<input type="submit" value="submit"><br>
</form>
