<h2>New Mix: </h2>

<form action="/mixes" method="POST">

<label> Mix Title:</label>
<input type="text" name="title"><br>
<label> Mix Artist:</label>
<input type="text" name="artist_name"><br>
<input id="btn btn-button" type="submit" value="Add New Mix">
</form>